body {
	display: flex;
	justify-content: center;
}

#board {
	width: 80vh;
	height: 80vh;
	border: 2px solid darkslategray;
	border-radius: 10px;
	background-color: ivory;
	display: flex;
	flex-direction: column;
}

#board > div{
	display: flex;
}

#board > div > div {
	height: 10vh;
	width: 10vh;
	text-align: center;
	line-height: 10vh;
	font-size: 7vh;
}

#board > div:nth-child(odd) > div:nth-child(even) {
	background-color: darkslategray;
}

#board > div:nth-child(even) > div:nth-child(odd) {
	background-color: darkslategray;
}

.highlight {
	background-color: lightcoral !important;
	border: 1px solid darkslategray;
}
